
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

// Black'n'whites
$ipCBlack: #222222;
$ipCCoal: #333333;
$ipCBlueGrey: #7c868c;
$ipCShadowGrey: #a3a3a3;
$ipCAlmostWhite: #f8f8f8;
$ipCWhite: #fff;

// Colorful
$ipCBlue: #193b6a;
$ipCBrown: #8d7959;
$ipCShadePressRelease: #3e4346;
$ipCShadeArticle: #463c2c;
$ipCShadeInterview: #0c1d35;


/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$ipF: 'Circe';


/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

$ipXShadow: 0 2px 12px $ipCShadowGrey;
$ipXShadowNarrow: 0 0 2px $ipCShadowGrey;


/* =================================================================================================== */
/* < SCREEN SIZES > */
/* =================================================================================================== */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;