
/* =================================================================================================== */
/* < COLORS > */
/* =================================================================================================== */

// Black'n'whites
$ipCBlack: #222222;
$ipCShadowGrey: #a3a3a3;
$ipCWhite: #fff;

// Colorful
$ipCBlue: #193b6a;
$ipCBrown: #8d7959;


/* =================================================================================================== */
/* < FONTS > */
/* =================================================================================================== */

$ipF: 'Circe';


/* =================================================================================================== */
/* < COMPLEX VALUES > */
/* =================================================================================================== */

// $glXBorderGreen: 2px solid $glCGreen;


/* =================================================================================================== */
/* < SCREEN SIZES > */
/* =================================================================================================== */

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;