.ipb-contacts-list {
	display: flex;
	flex-wrap: wrap;
	margin-top: -25px;
	margin-bottom: 40px;
}

.ipb-contact {
	flex: 0 0 50%;
	max-width: 50%;
	margin-top: 45px;
	&:nth-child(odd) {
		padding-right: 22.5px;
	}
	&:nth-child(even) {
		padding-left: 22.5px;
	}
	@include respond-custom(320px, $md) {
		flex: 0 0 100%;
		max-width: 100%;
		&:nth-child(odd), &:nth-child(even) {
			padding-right: 0;
			padding-left: 0;
		}
	}
	.ipb-card {
		height: 100%;
	}
	.ipe-contact-label {
		margin-top: 20px;
		color: $ipCBlueGrey;
	}
	.ipe-contact-piece {
		font-size: 14px;
		color: $ipCCoal;
	}
}