.ipb-content {
	display: flex;
	flex-wrap: wrap;
	margin-top: 35px;
	.ipe-content-text {
		flex: 0 0 60%;
		max-width: 60%;
		padding-right: 15px;
		@include respond-custom(320px, $md) {
			flex: 0 0 100%;
			max-width: 100%;
			padding-right: 0;
		}
		img {
			max-width: 100%;
			margin: 15px;
			margin-left: 0;
			border-radius: 4px;
			box-shadow: $ipXShadow;
		}
		p {
			margin-bottom: 20px;
		}
		h2, h3, h4 {
			margin-top: 25px;
			font-weight: bold;
		}
		h2 {
			font-size: 25px;
		}
		h3 {
			font-size: 20px;
		}
		h4, h5 {
			font-size: 18px;
			font-weight: normal;
		}
		ul, ol {
			padding-left: 20px;
		}
		table {
			tr {
				border-bottom: 1px solid $ipCBlueGrey;
			}
			td {
				padding: 3px;
			}
			thead td {
				font-weight: bold;
				text-transform: uppercase;
				color: $ipCBrown;
			}
		}
	}
	&.ipm-no-image .ipe-content-text {
		flex: 0 0 100%;
		max-width: 100%;
	}
	.ipe-content-image {
		flex: 0 0 40%;
		max-width: 40%;
		padding: 4px 0 0 15px;
		.ipe-image-wrapper {
			background-color: $ipCWhite;
			border-radius: 4px;
			box-shadow: $ipXShadow;
			overflow: hidden;
		}
		img {
			display: block;
			width: 100%;
		}
		.ipe-image-commentary {
			padding: 15px;
			font-size: 15px;
			font-weight: 300;
			text-align: center;
			opacity: 1;
			letter-spacing: 0;
			text-align: left;
		}
		@include respond-custom(320px, $md) {
			flex: 0 0 100%;
			max-width: 100%;
			order: -1;
			padding-left: 0;
			margin-bottom: 20px;
		}
	}
	.ipb-tip {
		margin: 0;
		margin-top: 4px;
	}
}