.ipb-footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 50px;
	background-color: $ipCBrown;
	font-size: 10px;
	font-weight: 300;
	color: $ipCWhite;
	letter-spacing: 0;
	@include respond-custom(320px, $md) {
		height: 100px;
		.container {
			flex-wrap: wrap;
		}
		.container > * {
			display: block;
			width: 100%;
			margin-bottom: 6px;
		}
	}
	> * {
		display: inline-flex;
	}
	a {
		color: $ipCWhite;
	}
	.ipe-copyright-own {
		margin-right: 35px;
	}
	.ipe-footer-link {
		margin-right: 20px;
	}
}