.ipb-new {
	margin-bottom: 15px;
	width: calc(33% - 20px);
	@include respond-custom(401px, $md) {
		width: calc(50% - 22.5px);
	}
	@include respond-custom(320px, 400px) {
		width: calc(100% - 30px);
	}
	&:last-child {
		margin-bottom: 40px;
		@include respond-custom(320px, $md) {
			margin-bottom: 15px;
		}
	}
	.ipe-new-teaser {
		margin-bottom: 0;
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: 0;
	}
	&.ipm-no-image {
		padding-top: 30px;
	}
	&.ipm-article {
		&.ipm-no-image .ipe-card-label {
			color: $ipCBrown;
			border-color: $ipCBrown;
		}
		.ipe-card-shade {
			background-color: $ipCShadeArticle;
		}
	}
	&.ipm-press-release {
		&.ipm-no-image .ipe-card-label {
			color: $ipCBlueGrey;
			border-color: $ipCBlueGrey;
		}
		.ipe-card-shade {
			background-color: $ipCShadePressRelease;
		}
	}
	&.ipm-interview {
		&.ipm-no-image .ipe-card-label {
			color: $ipCBlue;
			border-color: $ipCBlue;
		}
		.ipe-card-shade {
			background-color: $ipCShadeInterview;
		}
	}
}