.ipb-tip {
	display: flex;
	align-items: center;
	padding: 20px;
	padding-left: 80px;
	position: relative;
	border-radius: 4px;
	background-color: $ipCWhite;
	color: $ipCBlue;
	box-shadow: $ipXShadowNarrow;
	&:before {
		content: '';
		display: block;
		width: 30px;
		height: 30px;
		position: absolute;
		left: 30px;
		background-image: url('../img/arrow-text.svg');
	}
	&.ipm-brown {
		color: $ipCBrown;
		&:before {
			background-image: url('../img/arrow-text-brown.svg');
		}
	}
	p {
		margin-bottom: 0;
	}
}